.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  height: 20dvh;
  padding: 25px;
  margin: 40dvh 0;
  max-width: 300px;

  gap: 10px;
  border-radius: 25px;

  background-color: var(--primary-yellow);
}
