.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 500px;

  padding: var(--general-spacing);
  gap: var(--general-spacing);

  .username {
    padding: 10px;
    border-radius: 20px;
    font-size: 1.3rem;
    background-color: var(--foreground-color);
    box-shadow: var(--shadow);
  }
}
