.room-overview {
  display: flex;
  flex-direction: column;
  padding: var(--general-spacing);
  gap: var(--general-spacing);

  .no-chats-notice {
    text-align: center;
  }

  .room-card {
    all: unset;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 100px;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    min-width: 300px;
    gap: 25px;

    border-radius: 20px;
    background-color: var(--primary-yellow);

    box-shadow: 0px 0px 0px 1px var(--antiflash-white);

    transition:
      transform 0.1s ease,
      box-shadow 0.1s ease;

    &:hover {
      cursor: pointer;

      box-shadow: 0px 0px 0px 5px var(--antiflash-white);
      border-width: 5px;
      transform: scale(1.02);
    }

    &:focus-visible {
      box-shadow: 0px 0px 0px 2px black;
    }

    .member-count-wrapper {
      display: flex;
      place-items: center;
      place-content: center;

      font-weight: bolder;

      .icon {
        height: 30px;
        color: var(--primary-purple);
      }
    }
  }
}
