.room-overview {
  display: flex;
  flex-direction: column;
  padding: var(--general-spacing);
  gap: var(--general-spacing);

  .no-chats-notice {
    text-align: center;
  }

  .room-card {
    all: unset;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 100px;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    min-width: 275px;
    gap: 25px;

    border-radius: 20px;
    background-color: var(--foreground-color);

    box-shadow: var(--shadow);
    transition:
      transform 0.1s ease,
      box-shadow 0.1s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
    }

    &:focus-visible {
      box-shadow: 0px 0px 0px 2px var(--accent-color);
    }

    .member-count-wrapper {
      display: flex;
      place-items: center;
      place-content: center;

      font-weight: bolder;
      color: var(--accent-color);

      .icon {
        height: 30px;
      }
    }
  }
}
