.add-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));

  .add-friends-container {
    gap: var(--list-spacing);
    padding-bottom: calc(var(--list-spacing) + 25px);
  }

  .add-friends {
    padding-top: var(--list-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .add-member-by-username-container {
    .add-member-by-username {
      padding-top: var(--list-spacing);

      display: flex;
      place-content: center;
    }
  }
}
