.manage-members-dialog {
  .settings {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 50px;

    place-self: center;
  }
}
