.landing {
  align-self: center;

  display: grid;
  justify-items: center;
  text-align: center;
  gap: var(--general-spacing);

  min-width: min(80dvw, 400px);
  height: fit-content;
  padding: var(--general-spacing) 10px;

  background-color: var(--foreground-color);
  border-radius: 10px;
  box-shadow: var(--shadow);

  header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 200px;
    color: var(--accent-color);

    .icon {
      height: 75px;
    }

    h1 {
      font-size: 1.7rem;
    }
  }

  .signup,
  .login {
    display: grid;
  }

  form {
    display: grid;
    gap: 10px;
    margin: var(--general-spacing) 0;

    label[for='username'],
    label[for='password'] {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .label-btn {
      justify-self: end;
    }
  }
}
