.nav-bar {
  position: fixed;
  bottom: 0;

  display: flex;

  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: var(--indigo-2);
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 50%);

  .item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1 1 auto;
    padding: 4px 0;

    text-decoration: none;

    .icon,
    .description {
      color: var(--gray-8);
    }

    .icon {
      height: 30px;
    }

    /* Activates if user is on current route */
    &.active {
      .icon,
      .description {
        /* TODO: pick better accent color */
        color: var(--tomato);
      }

      .active-indicator {
        position: absolute;
        bottom: -20px;

        width: 25px;
        height: 25px;
        border-radius: 50%;

        background-color: var(#868e96);
      }
    }
  }
}
