@import 'reset.css';
@import 'button.css';
@import 'dialog.css';
@import 'input.css';
@import 'open-color.css';

html {
  /* Variables */
  --tomato: hsla(7, 100%, 66%, 1);
  --space-cadet: hsla(235, 21%, 21%, 1);
  --cool-gray: hsla(218, 17%, 62%, 1);
  --antiflash-white: rgb(231, 231, 231);
  --red-pantone: hsla(353, 86%, 54%, 1);
  --fire-engine-red: hsla(350, 96%, 43%, 1);
}

body {
  margin: 0 0;

  font-family: 'Red Hat Display', sans-serif;
}

#root {
  height: 100dvh;
  display: flex;
}

main {
  padding-bottom: 60px; /* Prevent navbar overlapping at bottom of element */
  width: 100%;

  display: grid;
  justify-items: center;
}
