@import 'reset.css';
@import 'button.css';
@import 'dialog.css';
@import 'input.css';
@import 'tip.css';
@import 'errors.css';

html {
  /* == Variables == */

  /* Colors */
  --background-color: #003566;
  --foreground-color: #1d619f;
  --accent-color: #ffd60a;
  --text-color: azure;

  /* Others */
  --shadow: 10px 10px 36px -8px hsl(0, 0%, 0%, 0.5);
  --general-spacing: 20px;
}

body {
  margin: 0 0;

  font-family: 'Red Hat Display', sans-serif;
  color: azure;
  background-color: var(--background-color);
}

#root {
  display: flex;
  justify-content: center;

  /* Ensure the message input sticks to the bottom of the viewport and allow
  vertically centering landing page elements */
  &:has(.room, .landing) {
    height: 100dvh;
  }
}

main {
  padding-bottom: 70px; /* Prevent navbar overlapping at bottom of element */

  &:has(.room) {
    padding-bottom: 60px;
  }

  width: 100%;

  display: flex;
  justify-content: center;
}

.title {
  margin-top: var(--general-spacing);
  align-self: center;
  padding: 0 var(--general-spacing);

  border-radius: 5px;

  width: fit-content;

  text-align: center;
  font-size: 1.5rem;

  border: 5px solid var(--text-color);
  border-left-width: 0;
  border-right-width: 0;

  &.section-title {
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-radius: 0;
    font-size: 1.2rem;
  }
}

/* Prevent buttons that use an <a> tag from getting underline */
a:has(button) {
  text-decoration: none;
}
