@import 'reset.css';
@import 'button.css';
@import 'dialog.css';
@import 'input.css';

html {
  /* == Variables == */

  /* Colors */
  --tekhelet: hsla(246, 46%, 37%, 1);
  --medium-slate-blue: hsla(239, 77%, 70%, 1);
  --tangerine: hsla(34, 99%, 47%, 1);
  --persimmon: hsla(22, 97%, 48%, 1);

  --primary-yellow: hsl(45, 99%, 49%, 1);
  --primary-yellow-faded: hsla(45, 50%, 49%, 1);
  --primary-purple: hsl(273, 57%, 18%);
  --antiflash-white: hsl(210, 13%, 94%, 1);

  /* Others */
  --general-spacing: 20px;
}

body {
  margin: 0 0;

  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--primary-purple);
}

#root {
  display: flex;
  justify-content: center;

  /* Ensure the message input sticks to the bottom of the viewport */
  &:has(.room) {
    height: 100dvh;
  }
}

main {
  padding-bottom: 70px; /* Prevent navbar overlapping at bottom of element */

  &:has(.room) {
    padding-bottom: 60px;
  }

  width: 100%;

  display: flex;
  justify-content: center;
}

/* Prevent buttons that use an <a> tag from getting underline */
a:has(button) {
  text-decoration: none;
}
