.tip {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding: 10px;
  gap: 10px;
  border-radius: 20px;
  max-width: 500px;

  background-color: var(--foreground-color);
  box-shadow: var(--shadow);

  .icon {
    height: 30px;
    color: var(--accent-color);
  }
}
